In [3]:
import numpy as np
import pandas as pd
import anndata as ad
from scipy.sparse import csr_matrix
from mudata import MuData
import mudata as md
from anndata import AnnData
import pyranges as pr
import bioframe as bf
import bioframe.vis

In [4]:
counts = csr_matrix(np.random.poisson(1, size=(100, 1000)), dtype=np.float32)
exons, cpg = pr.data.exons(), pr.data.cpg()

adata = ad.AnnData(counts)
adata.obs_names = [f"Cell_{i:d}" for i in range(adata.n_obs)]
adata.var_names = [f"Gene_{i:d}" for i in range(adata.n_vars)]

In [5]:
adata.varm['coord'] = exons.df.sample(frac=1, replace=False).set_index(adata.var_names)

In [6]:
coord = pr.PyRanges(adata.varm['coord'].reset_index())

In [7]:
pyranges_df = adata.varm['coord'].reset_index()

In [20]:
bed_column_names = ("Chromosome", "Start", "End")
query_result = bf.select(exons[["Chromosome", "Start", "End"]], "chrX:0-1000000", cols=bed_column_names)
query_result.head()

TypeError: Invalid bedFrame: Invalid column names

In [19]:
exons[["Chromosome", "Start", "End"]]

+--------------+-----------+-----------+--------------+
| Chromosome   | Start     | End       | Strand       |
| (category)   | (int32)   | (int32)   | (category)   |
|--------------+-----------+-----------+--------------|
| chrX         | 135721701 | 135721963 | +            |
| chrX         | 135574120 | 135574598 | +            |
| chrX         | 47868945  | 47869126  | +            |
| chrX         | 77294333  | 77294480  | +            |
| ...          | ...       | ...       | ...          |
| chrY         | 15409586  | 15409728  | -            |
| chrY         | 15478146  | 15478273  | -            |
| chrY         | 15360258  | 15361762  | -            |
| chrY         | 15467254  | 15467278  | -            |
+--------------+-----------+-----------+--------------+
Stranded PyRanges object has 1,000 rows and 4 columns from 2 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.

In [110]:
pr.PyRanges(pyranges_df)

+------------+--------------+-----------+-----------+-------+
| index      | Chromosome   | Start     | End       | +3    |
| (object)   | (category)   | (int32)   | (int32)   | ...   |
|------------+--------------+-----------+-----------+-------|
| Gene_0     | chrX         | 51453924  | 51455226  | ...   |
| Gene_2     | chrX         | 105880989 | 105881024 | ...   |
| Gene_3     | chrX         | 115585489 | 115585608 | ...   |
| Gene_5     | chrX         | 110463585 | 110464173 | ...   |
| ...        | ...          | ...       | ...       | ...   |
| Gene_977   | chrY         | 15522872  | 15522993  | ...   |
| Gene_984   | chrY         | 15526614  | 15526673  | ...   |
| Gene_986   | chrY         | 15417278  | 15417427  | ...   |
| Gene_989   | chrY         | 15467802  | 15467898  | ...   |
+------------+--------------+-----------+-----------+-------+
Stranded PyRanges object has 1,000 rows and 7 columns from 2 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
3 hidden columns: Name, Score, Strand

In [105]:
pr.PyRanges(chromosomes='chrX', starts=[100000000], ends=[900000000])

+--------------+-----------+-----------+
| Chromosome   |     Start |       End |
| (category)   |   (int32) |   (int32) |
|--------------+-----------+-----------|
| chrX         | 100000000 | 900000000 |
+--------------+-----------+-----------+
Unstranded PyRanges object has 1 rows and 3 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [9]:
idx = coord.intersect(pr.PyRanges(chromosomes='chrX', starts=[100000000], ends=[130000000])).index

In [10]:
adata[:, idx]

View of AnnData object with n_obs × n_vars = 100 × 173
    varm: 'coord'

In [14]:
def slice_pyrange(adata, chrom, start, end):
    prange = pr.PyRanges(chromosomes=chrom, starts=[start], ends=[end])
    return subset_by_overlap(adata, prange)

In [98]:
slice_pyrange(adata, 'chrX', 100000000, 120000000)

View of AnnData object with n_obs × n_vars = 100 × 122
    varm: 'coord'

In [57]:
def subset_by_overlap(adata, prange):
    coord = pr.PyRanges(adata.varm['coord'].reset_index())
    idx = coord.overlap(prange).index
    return adata[:, idx]

In [104]:
exons['chrX']['+']

+--------------+-----------+-----------+-------+
| Chromosome   | Start     | End       | +3    |
| (category)   | (int32)   | (int32)   | ...   |
|--------------+-----------+-----------+-------|
| chrX         | 135721701 | 135721963 | ...   |
| chrX         | 135574120 | 135574598 | ...   |
| chrX         | 47868945  | 47869126  | ...   |
| chrX         | 77294333  | 77294480  | ...   |
| ...          | ...       | ...       | ...   |
| chrX         | 129484619 | 129484705 | ...   |
| chrX         | 70607110  | 70607311  | ...   |
| chrX         | 13587693  | 13588054  | ...   |
| chrX         | 148059891 | 148059985 | ...   |
+--------------+-----------+-----------+-------+
Stranded PyRanges object has 433 rows and 6 columns from 1 chromosomes.
For printing, the PyRanges was sorted on Chromosome and Strand.
3 hidden columns: Name, Score, Strand

In [111]:
slice_pyrange(adata, 'chrX', 10000000, 100000000)

View of AnnData object with n_obs × n_vars = 100 × 448
    varm: 'coord'

In [112]:
n, d, k = 1000, 100, 10

z = np.random.normal(loc=np.arange(k), scale=np.arange(k)*2, size=(n,k))
w = np.random.normal(size=(d,k))
y = np.dot(z, w.T)
y.shape

adata = AnnData(y)
adata.obs_names = [f"obs_{i+1}" for i in range(n)]
adata.var_names = [f"var_{j+1}" for j in range(d)]

d2 = 50
w2 = np.random.normal(size=(d2,k))
y2 = np.dot(z, w2.T)

adata2 = AnnData(y2)
adata2.obs_names = [f"obs_{i+1}" for i in range(n)]
adata2.var_names = [f"var2_{j+1}" for j in range(d2)]


mdata = MuData({"A": adata, "B": adata2})

/var/folders/79/cbc9h56s5v7gbsvc3kk0lwmw0000gq/T/ipykernel_73401/4075923208.py:8: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = AnnData(y)
/var/folders/79/cbc9h56s5v7gbsvc3kk0lwmw0000gq/T/ipykernel_73401/4075923208.py:16: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata2 = AnnData(y2)

In [113]:
mdata

MuData object with n_obs × n_vars = 1000 × 150
  2 modalities
    A:	1000 x 100
    B:	1000 x 50